* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.left {
  width: 18%;
  height: 100%;
  box-shadow: 0px 0px 10px #999;
  z-index: 1000;
}
.right {
  width: 82%;
  height: 100%;
  /* background-color: rgba(0, 128, 0, 0.338); */
}

.navbar {
  width: 100%;
  padding: 20px;
  height: 75px;
  background-color: #eeeeee6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* input {
  padding: 10px 30px 10px 20px;
  border-radius: 25px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.116);
  width: 95%;
  margin: 10px;
} */

.logo {
  background-color: #777;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto;
  background-image: url(depositphotos_315985576-stock-illustration-headphone-icon-vector-music-icon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icons {
  display: flex;
  flex-direction: column;
}
.icons a div,
.icons > div {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 100%;
  padding: 15px 50px;
  border-radius: 20px;
  transition: 0.2s ease;
}
.icons a {
  text-decoration: none;
  color: inherit;
}
.icons div:hover {
  background-color: #eeeeeed5;
  cursor: pointer;
}
#active {
  background-color: #eeeeeed5;
}
.icons div i {
  font-size: 20px;
  margin-right: 25px;
}

.icons a:last-child {
  margin-top: 0px;
}

.new {
  position: relative;
}
.new i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.gridx {
  height: auto;
  padding: 10px;
}

.grid-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-leftx {
  grid-column: span 2;
}
.grid-leftx h3,
.grid-right h3 {
  margin: 20px 10px;
}

.grid-right,
.grid-right-x,
.grid-leftx,
.grid-left div {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contain {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

.grid-left div {
  padding: 10px;
}
.grid-left div p:first-of-type {
  font-size: 17px;
  color: #999;
}
.grid-left div p:last-of-type {
  font-weight: bold;
  font-size: 20px;
  margin: 7px auto;
}
.grid-left div > i {
  font-size: 25px;
  margin: 0px 0px 10px 5px;
}
.grid-left div a {
  margin-top: 55px;
  color: #999;
  text-decoration: none;
}

.grid {
  margin-bottom: 50px;
}

#img1,
#img2,
#img3,
#img4 {
  margin-bottom: 5px;
  width: 35px;
  height: 35px;
  background-size: contain;
  border: none;
  outline: none;
}

#img1 {
  background-image: url(user.png);
}
#img2 {
  background-image: url(line-graph.png);
}
#img3 {
  background-image: url(checkout.png);
}
#img4 {
  background-image: url(product.png);
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  text-transform: capitalize;
}

table th,
table td {
  padding: 8px;
}

table th {
  background-color: #eeeeee6a;
  font-weight: bold;
}
table td {
  color: #333;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.Product {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
}

.Product_pic{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
}



/* #Product {
  background-image: url(/WebSite/gaming.png);
  ,
.Product_1,
.Product_2,
.Product_3,
.Product_pic
}
#Product_1 {
  background-image: url(/WebSite/mobile-phone.png);
}
#Product_2 {
  background-image: url(/WebSite/smartwatch.png);
}
#Product_3 {
  background-image: url(/WebSite/cctv-camera.png);
}
#Product_pic {
  background-image: url(/WebSite/Casque.png);
} */

.grid-right-x {
  background-image: url(Chart.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.just {
  display: block;
}

.just div {
  position: relative;
}

.list {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Transition effect for opacity */
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}
.list.show {
  display: block;
  opacity: 1;
  height: auto;
}
.list ul {
  list-style: none;
}
.list ul li {
  margin: 30px auto;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  transition: 0.2s ease;
}
.list ul a li {
  display: flex;
}


.fa-chevron-down {
  color: rgba(0, 0, 0, 0.657);
  position: absolute;
  right: -40px;
  font-size: 5px;
  display: none;
}

.just:hover .fa-chevron-down {
  display: block;
}

#act {
  background-color: #1a0d0d16;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex h3:last-of-type {
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.603);
  border-radius: 10px;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.1s ease;
}
.flex h3:last-of-type:hover,
.flex a:hover {
  background-color: rgba(0, 0, 255, 0.421);
}
.flex a {
  padding: 10px;
  margin: 20px;
  background-color: rgba(0, 0, 255, 0.603);
  border-radius: 10px;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  text-decoration: none;
}
.flex h4 {
  padding: 10px;
  font-size: 19px;
}

td i {
  text-decoration: none;
  color: inherit;
}
td i {
  margin: 5px;
  color: white;
  padding: 4px;
  border-radius: 20px;
  transition: 0.1s ease;
}
td i:hover {
  opacity: 0.6;
}
td  a i:first-of-type {
  background-color: blue;
}
td i:last-of-type {
  background-color: red;
}


.last{
  padding: 50px;
}
.last > div{
  display: flex;
  flex-direction: column;
  /* margin: 20px; */
}
.Description input,
.last input,
.last select{
  width: 400px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #77777754;
  margin: 10px 10px 30px ;
}
.About-product,
.About,
.confirmation {
  width: 70%;
  height: auto;
  margin: 0px auto 20px;
  background-color: #e90000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.499);
  opacity: 0;
  display: none;
  transition: 0.3s ease;
  z-index: 1000;
}
.About,
.confirmation {
  width: 40%;
}
/* .confirmation{
  display: inline;
  opacity: 1;
} */

.About-product > div:first-of-type,
.confirmation > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.About-product > div:first-child p,
.confirmation > div:first-child p {
  padding: 2px 7.5px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
}

.About-product > div:last-child,
.About-product > div:nth-child(2),
.About-product > div:nth-child(3),
.About-product > div:nth-child(4) ,
.About-product > div:nth-child(5) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.About-product > div:last-child div,
.About-product > div:nth-child(2) div,
.About-product > div:nth-child(3) div,
.About-product > div:nth-child(4) div ,
.About-product > div:nth-child(5) div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.About > div div input,
.About-product > div:last-child div input,
.About-product > div:nth-child(2) div input,
.About-product > div:nth-child(3) div input,
.About-product > div:nth-child(4) div input,
.About-product > div:nth-child(5) div input,
.About-product > div div select {
  border-radius: 5px;
  outline: none;
  width: 350px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
  border: 1px solid #77777754;
}

.all {
  opacity: 1;
  transition: 0.2s ease;
}

#Address {
  width: 700px;
}
#Valider,
#Okey,
#Delete,
#Cancel {
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.681);
  border-radius: 10px;
  width: fit-content;
  margin: 10px auto;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  outline: none;
  border: none;
  margin: 10px auto;
}
#Delete {
  background-color: rgba(255, 0, 0, 0.681);
}
#Cancel {
  background: white;
  color: black;
  border: 1px solid #999;
}
#Valider:hover,
#Okey:hover {
  background-color: rgba(0, 0, 255, 0.482);
}
#Delete:hover {
  background-color: rgba(255, 0, 0, 0.482);
}
#Cancel:hover {
  background-color: #eee;
}

.Description {
  padding: 10px 60px;
}

#view {
  text-decoration: underline;
  cursor: pointer;
}
#view:hover {
  color: green;
}

.Status,
.Rejected {
  padding: 5px;
  color: white;
  border-radius: 10px;
}

.Status {
  background-color: rgb(58, 147, 58);
}

.Rejected {
  background-color: rgb(228, 29, 29);
}


@media (max-width:900px) {
  ul a li span{
    display: none;
    }
    
    .just > div p{
      display: none;
    }
    .icons a div p {
      display: none;
    }
    .list ul li:hover {
      background-color: #1a0d0d16;
    }
    body{
      display: none;
    }
}